#board {
  width: 455px;
  height: 379px;
}

#board img {
  width: 75px;
  height: auto;
}

#board img:nth-child(odd) {
  background-color: #332222;
}

#board img:nth-child(even) {
  background-color: #553322;
}

#board-options img {
  width: 15px;
  height: auto;
}

#board-options label {
  padding-right: 10px
}

#board-options-table {
  border-collapse: collapse;
}

#board-options-table tr:nth-child(odd),
#board-options-table tr:nth-last-child(1) {
  border-bottom: 1px solid grey;
}
